.list {
  margin-top: 50px;
}

.mat-card {
  margin-top: 10px;
}

.todo {
  display: flex;
  margin-bottom: 10px;

  .todo-done {
    margin: 0 20px 0 0;
  }

  .todo-label {
    position: relative;
    top: 2px;
    cursor: pointer;

    &.todo-label-done {
      text-decoration: line-through;
      opacity: 0.5;
    }
  }
  .delete-todo {
    margin-left: auto;
  }
}