<div class="container">
  <app-add-todo (submitted)="onSubmit($event)"></app-add-todo>
  <div class="list">
    <h1>Todos</h1>
    <div class="add-todo-form">
      <form class="form">
        <mat-form-field appearance="fill" fxFlex="100">
          <mat-label>Search</mat-label>
          <input matInput type="text" name="searchText" [(ngModel)]="searchText">
          <button mat-icon-button matSuffix>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
    <mat-card
      *ngFor="let todo of todos | filter:searchText"
      class="todo"
      flexLaout="row wrap"
      fxLayoutAlign="start center"
    >
      <mat-checkbox
        class="todo-done"
        [checked]="todo.done"
        (change)="onToggleTodo(todo)"
      ></mat-checkbox>
      <span class="todo-label" [ngClass]="{ 'todo-label-done': todo.done }">
        &nbsp;{{ todo.title }}&nbsp;
      </span>
      <button
        *ngIf="todo.done"
        mat-icon-button
        class="delete-todo"
        color="primary"
        aria-label="Example icon button with a home icon"
        (click)="deleteTodo(todo)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card>
  </div>
</div>
